<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379516642238-4l4s8altfcmies9poto5u67e6s5nem0k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379516642238-4l4s8altfcmies9poto5u67e6s5nem0k</string>
	<key>API_KEY</key>
	<string>AIzaSyA_TbIOzDevICCqUiOxU18U1bnAmJvNSuE</string>
	<key>GCM_SENDER_ID</key>
	<string>379516642238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mehmettalhairmak.TestProMobileApp</string>
	<key>PROJECT_ID</key>
	<string>test-pro-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>test-pro-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379516642238:ios:e883958fc3d3ba9e42cfef</string>
</dict>
</plist>